<body>
  <a href="/recipes">Back to Recipes</a>
  <h1>Create a New Recipe!</h1>

  <form action="/recipes" method="post">
    <label for="name">Name:</label>
  <input type="text" name="name" id="name" /><br>
  <label for="instructions">Instructions:</label>
  <textarea name="instructions" id="instructions"></textarea><br>

  <button type="submit">Add Recipe</button>

  </form>
</body>